/***************  Fonts  ********************
font-family: 'Tillana', cursive; clues font
font-family: 'Cinzel', serif; on logic puzzles
font-family: 'Permanent Marker', cursive; title
font-family: 'Six Caps', sans-serif; story
********************************************/

body {
	background-color: #CCC;
	zoom: 100%;
}

/*pointer*/
.homepageButton,
#start,
#resetButton,
#submit,
#backButton,
.guessBox,
.puzzleOption,
#menu,
.menuCS { 
	cursor: pointer;
	cursor: hand;
}

#start {
	cursor: pointer;
	border-radius: 10px;
}

#homepageHeading {
	width: 50%;
    font-family: 'Permanent Marker', cursive;
    font-size: 69px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

.c {
	color: #FD7C7F;
}

#o {
	color: #E6789F;
}

.l {
	color: #FF9D79;
}

.o {
	color: #4DC57E;
}

.r {
	color: #5C64F9;
}

.ex {
	color: #A35DA3;
}

.homepageButton {
	height: 209px;
    width: 688px;

    border-radius: 10px;
    border: 10px solid #AAA;
    font-family: 'Permanent Marker', cursive;
    font-size: 69px;
    line-height: 3;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#play {
	background-color: #FD7C7F;
}

#store,
#storePage {
	background-color: #E6789F;
}

#directions,
#howToPage {
	background-color: #FF9D79;
}

#tutorial,
#tutorialPage {
	background-color: #4DC57E;
}

#achievements,
#achievementsPage {
	background-color: #5C64F9;
}

#settings,
#settingsPage {
	background-color: #A35DA3; 
}

#storePage,
#howToPage,
#achievementsPage,
#tutorialPage,
#settingsPage {
	display: none;
    margin: 0 auto;

    height: 520px;
    width: 99%;

    border-radius: 10px;
    border: 10px solid #AAA;
    margin: 0 auto;
    margin-bottom: 20px;
    border-top: none;
}

#storePage .comingSoon,
#howToPage .comingSoon,
#achievementsPage .comingSoon,
#tutorialPage .comingSoon,
#settingsPage .comingSoon {
	font-family: 'Permanent Marker', cursive;
    font-size: 84px;
    height: 72px;
    margin: 0 auto;
    text-align: center;
}

#menu {
	font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    width: 314px;
    height: 72px;
    margin: 0 auto;
    border: 10px solid #AAA;
    border-radius: 10px;
    text-align: center;
}

.menuCS {
	font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    width: 314px;
    height: 72px;
    margin: 0 auto;
    border: 10px solid #AAA;
    border-radius: 10px;
    text-align: center;
}

.topBar,
.topBarOption,
.leftBar,
.leftBarOption { 
	cursor: default;
	font-family: 'Tillana', cursive;
}
/*///////////////*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#puzzleGallery{
	width: 1712px;
	margin: 0 auto;
	text-align: center;
	zoom: 100%;
	display: none;
}

#selected {
	display: block;
	position: relative;
	float: none;
	margin: 0 auto;
	backgroundSize: 610px 685px;
}

.puzzleOption {
	height: 31.25em;
	width: 23.75em;
	float: left;
    border: 8px solid #555;
    margin: 5%;
    border-radius: 10px;
    /*background-image: url("paper2.png");*/
    background-size: 23.8em 31.3em;
    background-repeat: no-repeat;
    font-family: 'Permanent Marker', cursive;
}

.puzzleOption span {
	position: relative;
	top: 1.3em;
	font-size: 1.875em;
}

#story {
/*	background-color: #5E0D5E;
*/	margin: 0 auto;
    border: 10px solid;
    border-radius: 10px;
    height: 53.375em;
    width: 48.125em;
    position: relative;
    top: 15px;
/*    border-color: #410041;
*/}

#puzzleContainer {
	display: none;
	width: 800px;
	height: 100vh;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
}

#puzzleStoryHolder {
	height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

#puzzleStoryHolder {
	display: none;
	position: relative;
}

#puzzleStory {
/*    background-color: #741F74;*/
    margin: 0 auto;
    border: 10px solid;
    border-radius: 10px;
    /*height: 56.375em;
    width: 48.125em;*/
    position: relative;
    top: 15px;
/*    border-color: #410041;
*/}

#puzzleStory.puzzle {
/*    background-color: #741F74;*/
/*	display: none;
*/    margin: 0 auto;
    border: 10px solid;
    border-radius: 10px;
    /*height: 56.375em;*/
    width: 950px;
    position: relative;
    top: 200px;
/*    border-color: #410041;
*/}

#story #backButton {
	border-radius: 10px;
	height: 84px;
    width: 200px;
    text-align: center;
    position: relative;
    left: -340px;
    top: -760px;
    font-family: 'Permanent Marker', cursive;
    font-size: 57px;
    float: left;
}

#options {
	width: 628px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -107px;
}

#backButton,
#resetButton,
#submit {
	border-radius: 10px;
	height: 84px;
	width: 200px;
	text-align: center;
	left: -300px;
	font-family: 'Permanent Marker', cursive;
	font-size: 57px;
	display: inline-block;
	margin: 0 auto;
}

#submit {
	width: 220px;
}

.puzzleDiv {
	height: 830px;
	width: 60em;
	margin: 0 auto;

}

#storyPage,
#puzzleStoryPage {
	border-radius: 4px;
	width: 642.25px;
	width: 40.140625em;
	height: 713.615px;
	height: 44.6009375em;
    position: relative;
    top: 44px;
    margin: 0 auto;
    /*background-image: url("paper.png");*/
    background-size: 367px 407.78px;
    background-size: 22.9375em 25.48625em;
    background-size: 642.25px 713.615px;
    background-repeat: no-repeat;
}

#puzzleStoryPage {
	width: 60em;
}


#puzzleStoryPage {
	background-image: none;
/*	width: 50em;
*/	position: relative;
	top: 24px;
	left: 0;
	margin: 0 auto;
}

#pageLiner {
	height: 713.615px;
	height: 44.6009375em;
    width: 576.8px;
    width: 36.05em;
    position: relative;
    left: 60px;
    overflow-y: auto;
}

#title {
	position: relative;
    top: 30px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-size: 1.875em;
    font-family: 'Permanent Marker', cursive;
}

#pageLiner span {
	position: relative;
    top: 26px;
    width: 574px;
    width: 35.875em;
    word-wrap: break-word;
    line-height: 2.3;
    font-family: 'Tillana', cursive;
    font-size: 22px;
    font-size: 1.375em;
}

#start {
	border: 5px solid;
    height: 47.25px;
    height: 1.953125em;
    width: 105px;
    width: 6.5625em;
    position: relative;
    top: 62px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    font-size: 1.875em;
/*    border-color: #410041;
*/}

#gameBoard {
    height: 52em;
    width: 59em;
    margin: 0 auto;
    /* overflow: scroll; */
    top: -24px;
    position: relative;
}

#gameBoardInside {
	width: 56em;
    height: 51.5em;
    position: relative;
    top: -15px;
    left: -74px;
    padding-top: 14px;
    padding-left: 6em;
/*    background-color: #A35DA3;
*/    border-radius: 10px;
}

#puzzleGameBoardInside {
    width: 51em;
    height: 50em;
    position: relative;
    top: 9px;
    padding-top: 14px;
    padding-left: 1em;
    border-radius: 10px;
    margin: 0 auto;
}

.gridbox {
  height: 12.5em;
  width: 12.5em;
/*  background-color: #A35DA3;
*/}

.floatLeft {
  float: left;
}

.guessBox {
  border: 0.125em solid;
  height: 2.25em;
  width: 2.25em;
  background-color: white;
/*  border-color: #A35DA3; 
*/}

#topMiddleThird .guessBox,
#bottomMiddleSecond .guessBox {
  background-color: #BBB;
}

.leftBarHome {
  height: 12.5em;
  width: 12.5em;
}

.leftBar {
  height: 11.95em;
  width: 2.25em;
  border: 0.125em solid;
  text-align: center;
/*  border-color: #A35DA3;
*/}

.leftBar span,
.topBarOption span {
  transform: rotate(-90deg);
  display: inline-block;
  color: #A35DA3;
  position: relative;
  top: 7em;
  font-size: 1.25em;
}

.leftBar span {
	top: 4.8em;
	width: 151px;
	left: -2.625em;
    font-weight: bold;
}

.topBarOption span {
	top: 3.1em;
    left: -2.6em;
    width: 151px;
    font-weight: bold;
}

.leftBarOption {
  height: 2.25em;
  width: 9.75em;
  border: 0.125em solid;
  position: relative;
  left: 2.5em;
  top: -12.1em;
/*  border-color: #A35DA3;*/
}

.topBarHome {
  height: 12.5em;
  width: 12.5em;
}

.topBar {
  height: 2.25em;
  width: 11.9em;
  border: 0.125em solid;
  text-align: center;
/*  border-color: #A35DA3;
*/}

.topBar span,
.leftBarOption span {
	color: #A35DA3;
	position: relative;
	top: 0.525em;
	left: 0.325em;
	font-size: 1.25em;
    font-weight: bold;
}

.leftBarOption span{
  	left: 0.325em;
    font-weight: bold;
}

.topBarOption {
  height: 9.75em;
  width: 2.25em;
  border: 0.125em solid;
  float: left;
/*  border-color: #A35DA3;
*/}

#topFirst,
#bottomMiddleLast,
#bottomThird,
#bottomLast {
	/*background-color: #A35DA3;*/
}

#puzzleGameBoardInside {
	zoom: 100%;
}

#zoomIn,
#zoomOut {
    height: 4em;
    width: 25em;
    border: 8px solid;
    display: inline-block;
    position: relative;
    left: 60px;
    border-radius: 10px;
    text-align: center;
}

#zoomClass {
	overflow: scroll;
}

#zoomIn span,
#zoomOut span {
	font-size: 48px;
	font-family: 'Permanent Marker', cursive;
}

#clues {
	height: 12em;
	width: 18em;
}

#clue {
	height: 32em;
  	width: 56em;
  	border: 8px solid;
  	border-radius: 10px;
  	margin: 14px;
}

#previous,
#next {
  	width: 6em;
  	text-align: center;
  	line-height: 10;
  	font-weight: 900;
  	font-size: 1em;
  	margin: 0 0.4em;
  	cursor: pointer;
}

#previous,
#next,
#currentClue {
    height: 30em;
  	border: 6px solid;
  	border-color: #410041;
  	float: left;
  	margin-top: 0.2em;
  	border-radius: 10px;
}

#previous span,
#next span {
	font-size: 44px;
}

#currentClue {
  width: 40em;
  overflow-y: scroll;
}

#currentClue span {
  	word-wrap: break-word;
  	line-height: 1.5;
  	font-family: 'Tillana', cursive;
  	font-size: 44px;
    width: 13em;
    display: block;
    margin: 0 auto;
}

#win {
	font-family: 'Sigmar One', cursive;
	font-size: 138px;
	position: relative;
    top: 320px;
    float: left;
    z-index: -1;

    /*top: -600px;
    left: 23px;
    float: left;
    z-index: -1*/;
}

#win div {
	margin: 0 auto;
	background-color: #CCC;
    height: 156px;
    border-radius: 10px;
    border: 6px solid #AAA;
}

#youwon {
	top: -40px;
    left: 2px;
    position: relative;
}

.red {
	color: #E54D51;
	position: relative;
	z-index: 9;
}
.orange {
	left: 6px;
	color: #F05C25;
	position: relative;
	z-index: 8;
	top: -226px;
}
.yellow {
	left: 12px;
	color: #FFDE43;
	position: relative;
	z-index: 7;
	top: -452px;
}
.blue {
	left: 18px;
	color: #3C44EC;
	position: relative;
	z-index: 6;
	top: -678px;
}
.green {
	left: 24px;
	color: #008837;
	position: relative;
	z-index: 5;
	top: -904px;
}

.purple {
	left: 30px;
	color: #741F74;
	position: relative;
	z-index: 4;
	top: -1130px;
}

@media (max-width: 1750px) {
	.puzzleOption {
		width: 38%;
		background-size: 100% 31.3em;
	}
	#puzzleGallery {
	    width: 1000px;
	}
}

@media (max-width: 1500px) {
	#story #backButton {
	    left: 62px;
	    top: -5.8px;
	    height: 2.25em;
	    width: 10.5625em;
	    font-size: 1.875em;
	    line-height: 2;
	}
	#start {
	    height: 1.9em;
	    width: 10.5625em;
	    position: relative;
	    top: 62px;
	    left: 159px;
	}
}

@media (max-width: 1280px) {
	#pageLiner span {
	    line-height: 1.33;
	    font-size: 2.4em;
	    top: 14px;
	}

	#storyPage #title {
	    top: 17px;
	    font-size: 2.5em;
	}

	#story {
    	zoom: 120%;
    }

	#puzzleContainer {
    	width: 100vw;
    }

	.puzzleOption span {
	    top: 0.3em;
	    font-size: 2.5em;
	}

	816px
}

@media (max-width: 1050px) {
	#puzzleGallery {
	    width: 841px;
	}

	.puzzleDiv {
		height: 88vh;
	}

	#clue {
	    border: none;
	    left: 22px;
    	position: relative;
	}

	.topBar {
    	width: 12.2em;
    }

    .leftBar {
	    height: 12.2em;
	    position: relative;
	}

	.leftBarOption {
		top: -12.5em;
	}
}

@media (max-width: 850px) {
	.puzzleOption {
		width: 98%;
		background-size: 100% 31.3em;
		margin: 50px auto;
	}
	#puzzleGallery {
	    width: 500px;
	}
	#menu {
    	width: 100%;
    }
    /*.homepageButton {
    	width: 88%;
    }*/
    #homepageHeading {
    	font-size: 50px;
    }
}

@media (max-width: 530px) {

    #homepageHeading {
    	font-size: 33px;
    }
    #homepageHeading {
    	height: 50px;
    }
}